@import "variables";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $colDark;
  color: #ffffff;
  padding-bottom: 1rem;
}

.titlesContainer {
  max-width: 60vw;
}

.title {
  font-family: "Roboto-Regular" !important;
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 0;
  font-weight: 100;
}

.subTitle {
  font-family: "Roboto-Thin" !important;
  font-size: 1.3rem;
  margin-top: 0;
  font-weight: 100;
}

@media (max-width: 840px) {
  .title {
    font-size: 2.4rem;
  }

  .subTitle {
    font-size: 1.1rem;
  }
}
