@import "variables";

.container {
  height: 90vh;
  width: 100%;
  background: $colDark;
  overflow: hidden;
  z-index: 10;
}

.wordDisplayed {
  font-family: "Roboto-Bold";
  font-size: 6.5rem;
  color: #ffffff;
  text-align: center;
  overflow-wrap: break-word;
  line-height: 6.5rem;
  margin: 0;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbarContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #f7f7f7;
}

.iconButton {
  font-size: 8rem !important;
}

.speed {
  margin-left: 2rem;
}

@media (max-width: 840px) {
  .wordDisplayed {
    font-size: 3rem;
    line-height: 3rem;
  }
  .iconButton {
    font-size: 2rem !important;
  }
}
