@import "variables";

.container {
  height: 1.5rem;
  background-color: $colRedTransparent;
  cursor: pointer;
}

.progressBar {
  height: 100%;
  background-color: $colRed;
  transition-duration: 0.1s;
}

.percent {
  color: #ffffff;
  font-size: 0.9rem;
  margin-left: 0.5rem;
}
